{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cards list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Picture</th>
                <th>Nbcard</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for card in cards %}
            <tr>
                <td><a href="{{ path('card_show', { 'id': card.id }) }}">{{ card.id }}</a></td>
                <td>{{ card.picture }}</td>
                <td>{{ card.nbcard }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('card_show', { 'id': card.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
